/* body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
	background-color: black;
} */

.title {
	text-align: center;
	font-size: 3.5em;
	color: rgb(90, 0, 0);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 500;
}

.subtitle {
	text-align: center;
	font-size: 2.5em;
}

.contentContainer {
	justify-content: space-between;
	padding: 5%;
	background-color: antiquewhite;
}

.visContainer {
	display: flex;
}

.sbsContainer {
	display: flex;
	justify-content: space-between;
	/* flex-grow: 1; */
	align-items: flex-start;
	padding-left: 5%;
	padding-right: 5%;
}

.body {
	font-size: 1.5em;
	padding-left: 5%;
	padding-right: 5%;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.base {
	margin-left: 10%;
	margin-right: 10%;
	background-color: dimgrey;
}

#titleMain {
	text-align: center;
	font-size: 3.5em;
}

#subtitleIntro {
	text-align: left;
	font-size: 2.5em;
	padding-left: 5%;
}

#subtitleBody2 {
	text-align: left;
	font-size: 2.5em;
	padding-left: 5%;
}

#bodyIntro {
	text-align: justify;
	font-size: 1.75em;
}

#mapTitle {
	width: 70%;
	margin-left: 10%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-size: 2em;
	background-color: white;
}

#my_deaths_map {
	width: 80%;
	height: 300px;	
	margin-left: 10%;
	background-color: white;
}

#butterflyTitle {
	width: 79%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-size: 2em;
	background-color: white;
}

#my_deaths_butterfly_chart {
	width: 89%;
	height: 500px;
	background-color: white;
}

#bodyP1 {
	text-align: justify;
	display: flex;
	width: 40%;
	line-height:calc(1 * 3vw);
}

#bumpTitle {
	width: 99%;
	text-align: center;
	font-size: 2em;
	background-color: white;
}

#my_deaths_bump_chart {
	width: 99%;
	height: 500px;
	background-color: white;
}

.sbsContainer > div {
	flex-grow: 1; /* Allow divs to grow and take up available space */
}



