.base {
	margin-left: 10%;
	margin-right: 10%;
	background-color: dimgrey;
}

.contentContainer {
	justify-content: space-between;
	padding: 5%;
	background-color: antiquewhite;
}

.sbsContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 5%;
	padding-right: 5%;
}

.sbsContainer > div {
	flex-grow: 1; /* Allow divs to grow and take up available space */
}

.title {
	text-align: center;
	font-size: 3.5em;
	color: rgb(90, 0, 0);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 500;
}

.subtitle {
	text-align: left;
	font-size: 2.5em;
	padding-left: 5%;
}

.body {
	font-size: 1.5em;
	padding-left: 5%;
	padding-right: 5%;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#titleMain {
	text-align: center;
	font-size: 3.5em;
}

#bodyIntro {
	text-align: justify;
}

#mapTitle {
	width: 70%;
	margin-left: 10%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-size: 2em;
	background-color: white;
}

#my_deaths_map {
	width: 80%;
	height: 300px;	
	margin-left: 10%;
	background-color: white;
}

#butterflyTitle {
	width: 79%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-size: 2em;
	background-color: white;
}

#my_deaths_butterfly_chart {
	width: 89%;
	height: 500px;
	background-color: white;
}

#bodyButterfly {
	text-align: left;
	display: flex;
	width: 15%;
	padding-left: 0%;
	padding-right: 0%;
	word-spacing: -0.1em;
	line-height:calc(5px + 2vw);
}

#bumpTitle {
	width: 94%;
	text-align: center;
	font-size: 2em;
	background-color: white;
}

#my_deaths_bump_chart {
	width: 99%;
	height: 500px;
	background-color: white;
}
